
	body {
		background-color: rgb(41, 43, 43);
		background-image: url("https://image.freepik.com/free-vector/halloween-cobweb-wallpaper_23-2148652386.jpg");
		background-repeat: no-repeat;
		background-size: contain;
	}

    