th {
    color: whitesmoke !important;
}

.table {
    background-color: #0B032D;
    color: whitesmoke !important;
}

.sightingLink {
    color: whitesmoke;
}

.sightingLink:hover {
    color: #ff8888 !important;
}