 /* .hero {
    background-image: url("https://wallpapertag.com/wallpaper/full/a/c/a/346463-spooky-background-1920x1080-hd-for-mobile.jpg");
    background-repeat: no-repeat;
    min-height: 100%;
    min-width: 100%;
    background-size: cover;

      }  */

