.map {
  width: 60vw;
  height: 35vw;
  position: relative;
}

.location-icon {
  font-size: 2rem;
  color: red;
}

.location-info {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 400px;
  min-height: 200px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  Font-size: 18px;
  color: black;

}

.location-info ul {
  list-style-type: none;
  padding: 0;
}

.loaction-info li {
  padding: 5px 0;

}
/* .google-map {
  width: 100%;
  height: 60vh;
}

.pin {
  display: flex;
  align-items: center;
  width: 180px;
  color: var(--main-blue);
}

.pin-icon {
  font-size: 4rem;
}

.pin-text {
  font-size: 1.3em;
}

@media screen and (min-width: 799px) {
  .google-map {
    height: 80vh;
  }

  .map-h2 {
    font-size: 1.3rem;
    font-weight: 400;
  }

  .pin {
    width: 15vw;
  }

  .pin-icon {
    font-size: 10vw;
  }
} */