.input,
.select select,
.textarea {
	background-color: #5e2b4a99 !important;
	border-color: unset !important;
	color: #ff8888;
}

textarea.textarea {
	color: #ff8888;
}

.input::-webkit-input-placeholder {
	color: #ff8888;
}

.select select::-webkit-input-placeholder {
	color: #ff8888;
}

.textarea::-webkit-input-placeholder {
	color: #ff8888;
}

.field.upload {
	display: -webkit-inline-box;
}

div#photo-container {
	margin: 14px;
}

.button.is-link {
    background-color: #843B62;
    border-color: transparent;
    color: #F67E7D;
}

button.button.is-link:hover{
  background-color: #0B032D;
  color: #843B62;
}