
.section {
	display: flex;
	justify-content: center;
	padding: 10px 15px 10px 15px !important;
}

.loginForm {
	width: 50%;
}

.page-title {
	background-color: unset !important;
	text-align: center;
	font-size: 48px;
	color: #0b032d;
	filter: drop-shadow(4px 4px 2px #ff8888);
}

.button.is-link.is-outlined {
	background-color: transparent;
	border-color: #ff8888 !important;
	color: #ff8888 !important;
	margin: 10px;
}

.button.is-link.is-outlined:hover {
	background-color: #ff8888 !important;
	color: #5e2b4a99 !important;
	margin: 10px;
}

