.container {
	text-align: -webkit-center;
}

.sight {
	background-color: #5e2b4a99 !important;
	margin: 10px;
	width: 23% !important
}

.spookName,
.spookSubName{
	text-align: center;
	color: #ff8888 !important;
	filter: drop-shadow(4px 4px 2px #0B032D) !important;
}

.card {
	background-color: #0b032dad;
}

.page-title {
	text-align: center;
	color: #ff8888;
	background-color: #5e2b4a99 !important;
	margin: 10px;
	font-size: 39px;
	width: 50%;
	filter: drop-shadow(4px 4px 2px #0B032D)
}

a{
	color: #0b032dad;
}

a:hover{
	color: #120646;
}