.container {
	text-align: -webkit-center;
}

.sight {
	background-color: #5e2b4a99 !important;
	margin: 10px;
}

.title,
.subtitle {
	text-align: center;
	color: #ff8888;
}

.card {
	background-color: #0b032dad;
}

.page-title {
	text-align: center;
	color: #ff8888;
	background-color: #5e2b4a99 !important;
	margin: 10px;
	font-size: 39px;
	width: 50%;
}
