.sight {
	background-color: #5e2b4a99 !important;
}

.title,
.subtitle {
	text-align: center;
	font-size: 48px;
    color: #0B032D;
    filter: drop-shadow(4px 4px 2px #ff8888);
}

.recent {
	width: 50% !important;
}

.card-content {
	font-size: 20px;
	padding-left: 12px;
	padding-right: 6px;
	color: #ff8888;
	filter: drop-shadow(4px 4px 2px #0b032d);
	font-family: "Ubuntu", sans-serif !important;
}

.card {
	background-color: #5e2b4a99 !important;
}

section.section.is-medium {
	padding: 10px 50px 10px 50px;
}

.map {
	width: unset !important;
}


.startBtns {
	display: flex;
	align-items: center;
	justify-content: center;
    text-align: center;
	color: #ff8888;
	filter: drop-shadow(4px 4px 2px #0b032d);
	font-size: 48px;
}
.mapTitle{
	display: flex;
	align-items: center;
	justify-content: center;
    text-align: center;
	font-size: 48px;
    color: #0B032D;
    filter: drop-shadow(4px 4px 2px #ff8888);
}

.section{
	padding: 10px 15px 10px 15px !important;
}

.button.is-link.is-outlined {
    background-color: transparent;
    border-color: #ff8888 !important;
    color: #ff8888 !important;
	margin: 10px;
}

.button.is-link.is-outlined:hover {
    background-color: #ff8888 !important;
    color: #5e2b4a99 !important;
	margin: 10px;
}
