.sight {
	background-color: #5e2b4a99 !important;
}

.title,
.subtitle {
	text-align: center;
    color: #ff8888;
    filter: drop-shadow(4px 4px 2px #0B032D);
    font-size: 48px;
}

.recent{
    width: 50% !important;
}



