.card-header-title {
  text-align: center;
	font-size: 48px;
    color: #0B032D;
    filter: drop-shadow(4px 4px 2px #ff8888);
}

#userStyle {
   text-align: center;
	font-size: 48px;
    color: #0B032D;
    filter: drop-shadow(4px 4px 2px #ff8888);
}
