.label {
    color: white;
}

h1{
    color: white;
}

.contain{
   background-color: unset !important;
}

.input, .select select, .textarea{
    background-color: #5e2b4a99 !important;
    color:  #F67E7D;
}

textarea.textarea {
    color:  #F67E7D;
}

.input::-webkit-input-placeholder { 
  color:  #F67E7D;
}

.select select::-webkit-input-placeholder { 
  color: #F67E7D;
}

.textarea::-webkit-input-placeholder {
  color: #F67E7D;
}