.navbar {
    background-color: #5e2b4a99 !important;

}

.navbar-item {
    color: #ff8888;
    filter: drop-shadow(4px 4px 2px #0B032D);
}

.button {
    background-color: indianred;
}

.spooky {
    padding-top: 8px;
    font-size: 24px;
}
