.navbar {
    background-color: #5e2b4a99 !important;
}

.navbar-item {
    color: #ff8888;
    filter: drop-shadow(4px 4px 2px #0B032D);
    font-size: 18px;
}

.button {
    background-color: indianred;
    font-family: 'Creepster', cursive !important;
    padding-top: 8px;
    font-size: 18px;
    color: #0B032D;
}

.spooky {
    padding-top: 8px;
    font-size: 46px;
}

a.navbar-item:hover {
    background-color: #5e2b4a99;
    color: #ff8888;
}

.button.is-link.is-outlined {
    background-color: transparent;
    border-color: #ff8888 !important;
    color: #ff8888 !important;
}

.button.is-link.is-outlined:hover {
    background-color: #ff8888 !important;
    color: #5e2b4a99 !important;
}